.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.block{
	display: block;
}

.montserrat {
	font-family: "Montserrat"
}

#content {
	position: absolute;
	top: 0;
	width: 100%;
}

.country-flag{
	border: 1px solid #486157 !important;
	display: block !important;
	width: 100.7% !important;
	height: 109% !important;
}

#tooltip-sidebar {
	position: fixed;
	width: 230px;
	height: 230px;
	background-color: #131212; 
	margin: auto;
	top: 0;
	bottom: 0; 
	padding: 20px;
	text-align: center;
}

#tooltip-sidebar > img{
	width: 55px;
}

.brand-origin-flag{
	width: 20px;
    border: none;
    position: relative;
    top: -2px;
}

.tooltip-text{
	text-align: left;
	font-family: "Montserrat";
}

#visualization {
	width: 1000px;
}

.languagecode-label {
	left: -50px;
	line-height: 8;
}

.columnchart {
	height: 250px;
	margin-bottom: 10px;
}

.columnchart>div {
	padding-left: 15px;
}

.columnchart-container {
	position: relative;
	max-height: 150px;
	overflow-y: hidden;
}

.columnchart-container>span {
	position: absolute;
	left: -10px;
}

.columnchart-container>div {
	position: relative;
	top: -75px;
}

.grayscale-80 {
	filter: grayscale(80%)
}

.grayscale-0 {
	filter: grayscale(0%)
}

path {
	stroke: #000000;
	stroke-width: 2px;
	cursor: pointer;
}

.columnchart g g g rect { 
	cursor: pointer; 
}

#brandSidebarContainer {
	position: absolute;
	overflow: visible;
	right: 10px;
	top: 0;
	z-index: 1000
}

#brandSidebar {
	top: 60px;
	position: sticky;
	width: 80px;
	opacity: 0.5;
}

#brandSidebar:hover {
	opacity: 1;
}

.brand:hover {
	filter: grayscale(0%)
}

.brand {
	filter: grayscale(100%);
	cursor: pointer;
	width: 35px;
	margin-left: 5px;
	margin-bottom: 10px;
}