#content{
	position: absolute;
	top: 0;
	width: 100%;
}

.grayscale-80 {
	filter: grayscale(80%)
}

.grayscale-0 {
	filter: grayscale(0%)
}

path {
	stroke: #000000;
	stroke-width: 2px;
	cursor: pointer;
}

#brandSidebarContainer{
	position: absolute;
	overflow: visible;
	right: 10px;
	top: 0;
	z-index: 1000
}

#brandSidebar {
	top: 60px;
	position: sticky;
	width: 80px;
    opacity: 0.5;
}

#brandSidebar:hover {
	opacity: 1;
}

.brand:hover{
	filter: grayscale(0%)
}


.brand {
	filter: grayscale(100%);
	cursor: pointer;
    width: 35px;
    margin-left: 5px;
    margin-bottom: 10px;
}