<div ng-controller="HomeController" id="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">

	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-main-collapse">
					Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top"> <i
					class="fa fa-car"></i> Home
				</a>
			</div>

			<div
				class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a class="page-scroll" href="#about">Statistik</a></li>
					<li><a class="page-scroll" href="#download">Impressum</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="bottom-fade"></div>
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">GDV Projekt</h1>
						<p class="intro-text">Ein Projekt in GDV zur Auswertung von
							Autostatistiken in Europa.</p>
						<a href="#visualization" class="btn btn-circle page-scroll"> <i
							class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Visualization -->
	<section id="visualization"
		class="container content-section text-center">
		
		<div class="row" ng-controller="BrandController">
			<div class="col-xs-12">
				<div>
					<ul style="list-style-type: none; text-align: center;">
						<li ng-repeat="x in brands_de" style="display: inline;"><img title="{{x.brand}}" style="float:none; margin:10px; cursor:pointer;" src="{{x.URL}}" ng-click="selectBrand($event, x)"></li>		
					</ul>
				</div>
			</div>
			
			<div class="col-xs-12">
				<div>
					<ul style="list-style-type: none; text-align: center;">
						<li ng-repeat="x in brands_it" style="display: inline;"><img title="{{x.brand}}" style="float:none; margin:10px; cursor:pointer;" src="{{x.URL}}" ng-click="selectBrand($event, x)"></li>		
					</ul>
				</div>
			</div>
			
			<div class="col-xs-12">
				<div>
					<ul style="list-style-type: none; text-align: center;">
						<li ng-repeat="x in brands_ja" style="display: inline;"><img title="{{x.brand}}" style="float:none; margin:10px; cursor:pointer;" src="{{x.URL}}" ng-click="selectBrand($event, x)"></li>		
					</ul>
				</div>
			</div>
			
			<div class="col-xs-12">
				<div>
					<ul style="list-style-type: none; text-align: center;">
						<li ng-repeat="x in brands_fr" style="display: inline;"><img title="{{x.brand}}" style="float:none; margin:10px; cursor:pointer;" src="{{x.URL}}" ng-click="selectBrand($event, x)"></li>		
					</ul>
				</div>
			</div>
		</div>
			
<!-- 		<div class="row"> -->

<!-- 			<div class="col-lg-3 col-md-3"> -->
<!-- 				<div class="flag-container grayscale-80"ng-class="{'grayscale-0' : containsCountry('de')}" > -->
<!-- 					<span class="flag-icon flag-icon-de"></span> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="col-lg-3 col-md-3"> -->
<!-- 				<div class="flag-container grayscale-80" ng-class="{'grayscale-0' : containsCountry('it')}"> -->
<!-- 					<span class="flag-icon flag-icon-it"></span> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="col-lg-3 col-md-3"> -->
<!-- 				<div class="flag-container grayscale-80" ng-class="{'grayscale-0' : containsCountry('ja')}"> -->
<!-- 					<span class="flag-icon flag-icon-jp"></span> -->
<!-- 				</div> -->
<!-- 			</div> -->
				
<!-- 			<div class="col-lg-3 col-md-3">	 -->
<!-- 				<div class="flag-container grayscale-80" ng-class="{'grayscale-0' : containsCountry('fr')}"> -->
<!-- 					<span class="flag-icon flag-icon-fr"></span> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<br><br><br>

		<div class="row" ng-controller="ChartController">				
			<div class="row">
				<div class="col-lg-3 col-md-3"><div style="height: 250px;" id="piechart1"></div></div>			
				<div class="col-lg-3 col-md-3"><div style="height: 250px;" id="piechart2"></div></div>		
				<div class="col-lg-3 col-md-3"><div style="height: 250px;" id="piechart3"></div></div>
				<div class="col-lg-3 col-md-3"><div style="height: 250px;" id="piechart4"></div></div>
			</div>
		
		<!-- DE -->
			<div class="row">
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_de_1" ng-init="initColumnChart(1, 'de')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_de_2" ng-init="initColumnChart(2, 'de')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_de_3" ng-init="initColumnChart(3, 'de')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_de_4" ng-init="initColumnChart(4, 'de')"></div>
			</div>
			
		<!-- IT -->
			<div class="row">
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_it_1" ng-init="initColumnChart(1, 'it')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_it_2" ng-init="initColumnChart(2, 'it')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_it_3" ng-init="initColumnChart(3, 'it')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_it_4" ng-init="initColumnChart(4, 'it')"></div>
			</div>
			
		<!-- JA -->
			<div class="row">
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_ja_1" ng-init="initColumnChart(1, 'ja')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_ja_2" ng-init="initColumnChart(2, 'ja')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_ja_3" ng-init="initColumnChart(3, 'ja')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_ja_4" ng-init="initColumnChart(4, 'ja')"></div>
			</div>
			
		<!-- FR -->
			<div class="row">
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_fr_1" ng-init="initColumnChart(1, 'fr')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_fr_2" ng-init="initColumnChart(2, 'fr')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_fr_3" ng-init="initColumnChart(3, 'fr')"></div>
				<div style="height:250px" class="col-lg-3 col-md-3" id="columnchart_fr_4" ng-init="initColumnChart(4, 'fr')"></div>
			</div>
			
		</div>
		
		<button class="btn btn-default" ng-click="loadCountries()">Start</button>
		
	</section>

	<!-- Impressum -->
	<section id="impressum" class="content-section text-center">
		<div class="download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Impressum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
						diam nonumy eirmod tempor invidunt ut labore et dolore magna
						aliquyam erat, sed diam voluptua.</p>
					<a href="https://www.hs-mannheim.de/"
						class="btn btn-default btn-lg">Hochschule Mannheim</a>
				</div>
			</div>
		</div>
	</section>
</div>
